<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   version="3.1">
  <display-name>ClassInfoREST</display-name>
  <welcome-file-list>
      <welcome-file>SamlRequest</welcome-file>
  </welcome-file-list>


   <servlet>
      <servlet-name>SamlRequest</servlet-name>
      <servlet-class>tonarinosibahaao.iobb.net.auth.servlet.SamlRequestServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SamlRequest</servlet-name>
      <url-pattern>/SamlRequest</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>SamlResponse</servlet-name>
      <servlet-class>tonarinosibahaao.iobb.net.auth.servlet.SamlResponseServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SamlResponse</servlet-name>
      <url-pattern>/SamlResponse</url-pattern>
   </servlet-mapping>


  <!-- ========== Security Constraint =========================== -->

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>REST</web-resource-name>
          <url-pattern>/class-info/class/post</url-pattern>
          <url-pattern>/class-info/review/post</url-pattern>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
          <http-method>PUT</http-method>
          <http-method>DELETE</http-method>
      </web-resource-collection>
      <auth-constraint>
          <role-name>user_role</role-name>
      </auth-constraint>
  </security-constraint>

  <!-- ========== Login Config ================================== -->
  <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>UseridOnlyAuthRealm</realm-name>
  </login-config>
  <error-page>
      <exception-type>javax.security.auth.login.LoginException</exception-type>
      <location>/LoginError.html</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/AuthError.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/AuthError.html</location>
  </error-page>

  <!-- ========== Security Role ================================= -->
  <security-role>
      <role-name>user_role</role-name>
  </security-role>

  <session-config>
      <session-timeout>30</session-timeout>
      <cookie-config>
          <http-only>true</http-only>
      </cookie-config>
  </session-config>
</web-app>